<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>Signin Template for Bootstrap</title>

   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>

    <div class="container" id="app">

    <div v-if="!showform">

        <form class="form-signin" v-on:submit.prevent="submitForm">
          <h2 class="form-signin-heading">Please sign in</h2>
          <label for="inputEmail" class="sr-only">nombre</label>
          <input v-model="name" type="text" class="form-control" placeholder="nombre" required autofocus>
          <label for="inputPassword" class="sr-only">apellido</label>
          <input type="text" v-model="last_name" class="form-control" placeholder="apellido" required>
          
          <button class="btn btn-lg btn-primary btn-block" type="submit" v-bind:disabled="!isFormValid()">Sign in</button>
        </form>
    </div>

      <div v-else>
        <h4 > 
            Bienvenido, {{ name }} {{ last_name }}
        </h4>

      </div>

    </div> <!-- /container -->


    <script type="text/javascript" src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
   

  <script>
    new Vue({
        el: "#app",
        data: {
          name:'',
          last_name:'',
          showform: false
        },

        methods: {
          isFormValid: function() {


              return this.name != "" && this.last_name !="";

          },
          submitForm: function(){
              if(!this.isFormValid()) return;
              this.showform = true;
          }
        }
    });



  </script>

  </body>
</html>
